@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/tailwind.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lg\:ml-64 {  
  margin-left: 0 !important;
}

/* MOODANALYTICS.JSX */
.focus-none:focus {
  outline: none !important;
}

.outline-none:focus {
  outline: none !important;
}

.recharts-sector:focus {
  outline: none !important;
}

